.logo {
  h2 {
    color: #00b3e3;
    font-size: 50px;
    margin-bottom: 0;
    font-style: oblique;
  }
  p {
    font-size: 10px;
    font-weight: 600;
    margin-top: -5px;
    font-style: oblique;
  }
}
