
.navbar {
    .navbar-brand {
        padding-top: 0;
        position: relative;
        top: -5px;
        p {
            margin-bottom: 0;
        }
    }
    .navbar-text, .nav-link {
        line-height: 28px;
    }
    .thumbnail-image {
        width: 35px;
        height: 35px;
        vertical-align: middle;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
}